@use "./variables" as *;

// Breakpoints
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {     
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin chevron {
    height: 2.5rem;
    cursor: pointer;

    &:hover {
        transform: translateY(-2.5px);
        cursor: pointer;
    }
}