.about {
    margin: 0 5rem 5rem 5rem;
    display: flex;
    justify-content: space-between;

    &__headshot {
        height: 20rem;
    }

    &__text {
        width: 100;
        display: flex;
        justify-content: center;
    }
}