@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.about {
    margin: 0 5rem 3rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @include tablet {
        flex-direction: row;
    }

    @include desktop {
        gap: 8rem;
    }

    &__headshot {
        height: 15rem;
        width: 15rem;

        @include tablet {
            height: 18rem;
            width: 18rem;
        }

        @include desktop {
            height: 20rem;
            width: 20rem;
        }
    }

    &__description {
        max-width: 23rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        margin-top: -2rem;

        @include tablet {
            max-width: 40rem;
        }
    }

    &__title {
        padding: 1rem 0;
        text-align: center;
    }

    &__text {
        padding: 2rem 0;
        border-bottom: 1px solid #434BE7;
        border-top: 1px solid #434BE7;
    }
}

.technologies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23rem;
    padding: 2rem 0;
    margin-top: 3rem;
    background-color: #1d6ef020;
    border-radius: 4px;

    &__title {
        padding-bottom: 1.5rem;
    }

    &__list {
        width: 23rem;
        display: flex;
        justify-content: center;
        gap: 5rem;
    }
}

.arrow-down {
    position: absolute;
    right: 47%;
    top: 37rem;
    @include chevron;

    @include tablet {
        top: 40rem; 
    }
}