.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 0 2rem 0;

    &__list {
        display: flex;
        list-style-type: none;
        gap: 3rem;
    }

    &__icons {
        padding: 2rem 0;
        height: 3rem;
    }
}